$primary-background-color: rgb(234, 234, 234);
$secondary-background-color: rgb(255, 255, 255);

$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: rgb(131, 131, 131);
$price-text-color: rgb(255, 165, 66);

$text-weight-bold: 600;

$font-size-m: 17px;
$font-size-s: 13px;

$line-height-m: 21px;
$line-height-s: 16px;

$font-family-main: 'Montserrat', sans-serif;


