.PageWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 11.46%;
  min-height: 100vh;
  min-width: 250px;
  @media (max-width: 768px) {
    margin: 0 50px;
  }
  @media (max-width: 576px) {
    align-items: center;
    margin: 0 25px;
  }
}

